services:
  rust:
    build:
      context: ./rust
      dockerfile: Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV}
    image: rust-app-${BUILD_ENV}
    env_file:
      - .env
      - ./money_flow/.env
    environment:
      - PORT=${APP_PORT}
    volumes:
      - ./money_flow:/home/rust/money_flow
      - cargo-cache:/usr/local/cargo/registry
      - target-cache:/home/rust/money_flow/target
    working_dir: /home/rust/money_flow
    tty: true
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      devnet:
        ipv4_address: 172.28.0.10

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx-ssl
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443/tcp"
      - "0.0.0.0:443:443/udp"
    environment:
      - APP_PORT=${APP_PORT}
    restart: unless-stopped
    depends_on:
      - rust
    networks:
      devnet:
        ipv4_address: 172.28.0.12

  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    image: postgres-ssl
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      devnet:
        ipv4_address: 172.28.0.11

volumes:
  pgdata:
  cargo-cache:
  target-cache:

networks:
  devnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16