services:
  rust:
    build:
      context: ./rust
      dockerfile: Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV}
    image: rust-app-${BUILD_ENV}
    env_file:
      - .env
      - ./money_flow/.env
    environment:
      - PORT=${APP_PORT}
      - POSTGRES_IP=${POSTGRES_IP}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - REDIS_IP=${REDIS_IP}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
    volumes:
      - ./money_flow:/home/rust/money_flow
      - cargo-cache:/usr/local/cargo/registry
      - target-cache:/home/rust/money_flow/target
    working_dir: /home/rust/money_flow
    tty: true
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    networks:
      devnet:
        ipv4_address: 172.28.0.10

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx-ssl
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443/tcp"
      - "0.0.0.0:443:443/udp"
    environment:
      - APP_PORT=${APP_PORT}
    restart: unless-stopped
    depends_on:
      - rust
    networks:
      devnet:
        ipv4_address: 172.28.0.12

  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
      args:
        POSTGRES_IP: ${POSTGRES_IP}
        POSTGRES_PORT: ${POSTGRES_PORT}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
    image: postgres-ssl
    env_file:
      - .env
    environment:
      - POSTGRES_IP=${POSTGRES_IP}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    restart: unless-stopped
    networks:
      devnet:
        ipv4_address: ${POSTGRES_IP}

  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
      args:
        REDIS_IP: ${REDIS_IP}
        REDIS_PASSWORD: ${REDIS_PASSWORD}
        REDIS_USER: ${REDIS_USER}
        REDIS_PORT: ${REDIS_PORT}
        REDIS_DB: ${REDIS_DB}
    image: redis-pubsub
    environment:
      - REDIS_IP=${REDIS_IP}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB}
    volumes:
      - redisdata:/data
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: unless-stopped
    networks:
      devnet:
        ipv4_address: 172.28.0.13

volumes:
  pgdata:
  redisdata:
  cargo-cache:
  target-cache:

networks:
  devnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16