{% extends "base.html" %}

{% block title %}Password Changed - {{ app_name }}{% endblock %}

{% block content %}
<h1>Password Changed Successfully</h1>

<div class="content">
    <p>Hello {{ first_name }},</p>

    <p>Your {{ app_name }} password has been successfully changed.</p>

    <p>If you made this change, no further action is needed. You can now use your new password to log in.</p>

    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ login_url }}" class="button">Log In Now</a>
    </p>

    <p style="color: #dc2626; font-size: 14px; margin-top: 30px;"><strong>Didn't make this change?</strong> If you did not change your password, your account may have been compromised. Please contact our support team immediately.</p>
</div>
{% endblock %}
